# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
override.tf
override.tf.json
*.tfplan
.terraformrc
terraform.rc
.terraform.lock.hcl
plan*

# Ignore .tfvars files that are meant to be kept private
# Uncomment the next line if you use .auto.tfvars or .auto.tfvars.json files
# *.auto.tfvars

# Ignore CLI configuration files
# This includes the CLI cache, located at ~/.terraform.d/cache
.terraform.d/